.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
  position: relative;
  padding-left: 160px;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	height: 100%;
	display: block;
	background: #ccc;
	border-right: solid 2px gray;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
	padding: 12px 0 12px 12px;
	border-bottom: solid 1px gray;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: #333;
}
