.container {
  margin: 0 auto;
  width: 720px;
  display: inline;
}

nav {
  background-color: gray;
  position: fixed;
  height: 100%;
}

.content {
  padding-left: 105px;
}

li {
  list-style: none;
}